mixin social-list()
  a(class="fa fa-facebook" href="#")
  a(class="fa fa-twitter" href="#")
  a(class="fa fa-google-plus" href="#")
  a(class="fa fa-envelope" href="#")
  a(class="fa fa-rss" href="#")

mixin aweita(strong)
    .aw
        if strong==0
                .aweitanoticeimg
                    img(src='./image/img_aweita.jpg')
                .aweitanotice
                    strong Juan Román Riquelme, el adiós al 'Último 10' de Argentina
        else
                .aweitanoticeimg
                    img(src='./image/img_aweita.jpg')
                .aweitanotice
                    strong Lewis Caarroll:un día como hoy nació el autor de 'Alicia en el'
mixin titulo(h4)
    .title
        .box-title
            h4= h4
mixin blog(p)
        .row
            .col-md-4
                img(src='./image/img_blogueros.jpg')
            .col-md-12
                if p==0
                    a(href='#') Augusto Álvarez Rodrich
                    p Charlie Hebdo,historia que no debe repetirse
                else if p==1
                    a(href='#') Ya lo pasado,PASADO
                    p El único pulpín es Humala
                else
                    a(href='#') Augusto Álvarez Rodrich
                    p Dios ha muerto..tengo las manos
mixin notic(h4 , p , src )
    .row
        .col-md-7 
            img(src=src)
        .col-md-9
            h4=h4
            p(class='color-red2')=p

mixin redes
    .redes
        ul
            li: span: a: i.fa.fa-facebook
            li: span: a: i.fa.fa-google-plus
            li: span: a: i.fa.fa-twitter

mixin titular-portada(titulo, fecha, seccion)
    .col-xs-12
        h1.titular-portada= titulo
        .datos-portada
            ul
                li: +redes
                li: p.fecha-titular= fecha 
                li: p.seccion= seccion


mixin columnista(foto, alt, columnista, titulo)
    .col-xs-6.col-sm-4.col-md-2
        a(href="#")
            img.thumbnail(src="assets/image/#{foto}.jpg", alt="#{alt}")
        p.columnistas-portada= columnista
        p.titulo-columna-portada= titulo

mixin mario
    +columnista('img-columnistas', 'Mario Vargas Llosa', 'Mario Vargas Llosa', 'Megarrenuncia apulpinante')
mixin augus
    +columnista('img_blogueros', 'Augusto Álvarez Rodrich', 'Augusto Álvarez Rodrich', 'Respuesta a una derrota estridente')

mixin columnistas-slider
    +mario
    +augus
    +mario
    +augus
    +mario
    +columnista('img_blogueros', 'Mario Vargas Llosa', 'Mario Vargas Llosa', 'Megarrenuncia apulpinante')

mixin cabecera-roja(cabecera)
    p.cabecera-roja
        a: span= cabecera


mixin cabecera-gris(cabecera)
    p.cabecera-gris
        a: span= cabecera
mixin titulo-seccion(titulo)
		.col-md-12
			.container
				h1.blog-titulo= titulo
			
mixin blog(blog)
	li.datos-blog
		small Lunes, 14 de Julio 2015
			h4 El gol de la muerte
			.caja-blog
				.autor-blog.text-left
					img(src="assets/image/blog_avatar_01.jpg")
					h5 Blog
					p LIBROS
	li.datos-blog
		small Lunes, 14 de Julio 2015
			h4 Dios ha muerto... tengo las manos cubiertas de sangre
			.caja-blog
				.autor-blog.text-left
					img(src="assets/image/blog_avatar_02.jpg")
					h5 Blog
					p Ya lo pasado, PASADO

	li.datos-blog
		small Lunes, 14 de Julio 2015
			h4 ¿Cuál es tu queso favorito?
			.caja-blog
				.autor-blog.text-left
					img(src="assets/image/blog_avatar_03.jpg")
					h5 Blog
					p Ya lo pasado, PASADO




mixin cambio(encabezado, foto, contenido)
	li.datos-blog
		small Lunes, 14 de Julio 2015
			h4=encabezado
			.caja-blog
				.autor-blog.text-left
					img(src="assets/image/#{foto}.jpg")
					h5 Blog
					p=contenido



mixin columnistas(columnistas)
	li.datos-blog
		small Lunes, 14 de Julio 2015
			h4 El gol de la muerte
			.caja-blog
				.autor-blog.text-left
					img(src="assets/image/img_author_columnista.jpg")
					h5 Augusto Álvarez Rodrich
					p Claro y directo
	li.datos-blog
		small Lunes, 14 de Julio 2015
			h4 Dios ha muerto... tengo las manos cubiertas de sangre
			.caja-blog
				.autor-blog.text-left
					img(src="assets/image/img_author_columnista.jpg")
					h5 Mirko Maluer
					p Observador

	li.datos-blog
		small Lunes, 14 de Julio 2015
			h4 ¿Cuál es tu queso favorito?
			.caja-blog
				.autor-blog.text-left
					img(src="assets/image/img_author_columnista.jpg")
					h5 Aldo Miyashiro
					p Chino de mi barrio

	li.datos-blog
		small Lunes, 14 de Julio 2015
			h4 El gol de la muerte
			.caja-blog
				.autor-blog.text-left
					img(src="assets/image/img_author_columnista.jpg")
					h5 Francisco Durand
					p Tiro al blanco
	li.datos-blog
		small Lunes, 14 de Julio 2015
			h4 Dios ha muerto... tengo las manos cubiertas de sangre
			.caja-blog
				.autor-blog.text-left
					img(src="assets/image/img_author_columnista.jpg")
					h5 Humberto Campodónico
					p Cristal de Mira

	li.datos-blog
		small Lunes, 14 de Julio 2015
			h4 ¿Cuál es tu queso favorito?
			.caja-blog
				.autor-blog.text-left
					img(src="assets/image/img_author_columnista.jpg")
					h5 Javier Ágreda
					p Jacque Perpetuo

mixin escritores(titu1, titu2, titu3, titu4)
	li.columnistas
		.caja-columnistas
			.autor-blog.text-left
				img(src="assets/image/img-columnistas.jpg")
				h5 Francisco Durand
				p=titu1

	li.columnistas
		.caja-columnistas
			.autor-blog.text-left
				img(src="assets/image/img-columnistas.jpg")
				h5 Humberto Campodónico
				p=titu2

	li.columnistas
		.caja-columnistas
			.autor-blog.text-left
				img(src="assets/image/img-columnistas.jpg")
				h5 Javier Ágreda
				p=titu3

	li.columnistas
		.caja-columnistas
			.autor-blog.text-left
				img(src="assets/image/img-columnistas.jpg")
				h5 Javier Ágreda
				p=titu4
    
	
